body {
     background: linear-gradient(to bottom, #e6e6e6, #add8e6);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
        color: white;
}

img {
    max-width: 50%;
    min-width: 25%;
    height: auto;
}
